@charset "utf-8";
/* CSS Document */
/**************************************
COMPANY: Symphinite
WEB DESIGNER: wilvyrux
WEBSITE: www.williamcarrasca.dotpxelz.com

**************************************/


.clear {
	clear:both;
	width:100%;
	height:2px;
}
a 	{
	text-decoration:none
	}


input {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	color:#666;
}

#submit-btn {
	width:118px;
	height:41px;

	background: #00abfc; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYWJmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzAzOTVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwOTYwZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #00abfc 0%, #0395f5 40%, #0960e7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00abfc), color-stop(40%,#0395f5), color-stop(100%,#0960e7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #00abfc 0%,#0395f5 40%,#0960e7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #00abfc 0%,#0395f5 40%,#0960e7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #00abfc 0%,#0395f5 40%,#0960e7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #00abfc 0%,#0395f5 40%,#0960e7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00abfc', endColorstr='#0960e7',GradientType=0 ); /* IE6-8 */

	border:none;
	color:#FFF;
	font-weight:bold;
	float:right;
	margin-right:10px;
}

#submit-btn:hover {
	background: #87e0fd; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg3ZTBmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzUzY2JmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNWFiZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-8 */
}




/**************************************
HEADER
**************************************/
#header {
	height:auto;
	width:1023px;
	margin:auto;
	margin-top:20px;
}

#mainlogo {
	background:url(../img/mainlogo.jpg) no-repeat;
	width:268px;
	height:88px;
	float:left;
}

#upperright {
	float:right;
	/*width:36.84210526%; /* 350 / 950 = * 100 = 36.84210526%*/
	height:88px;
	position:relative;
	top:0;
	right:0;
}

.socialupper {
	float:right;
	clear:both;
	margin-top:-10px;
	z-index:10;
	position:relative;
}



	.widget {
		width:250px;
		border:1px solid #e5e5e5;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		position:absolute;
		top:6%;
		right:0;
		font-family: 'Klavika', Arial, sans-serif;
		text-transform:uppercase;
		color:#868686;
	}
	.widget > div.clearfix > div:nth-child(2) {
		float:left;
		width:125px;
		text-align:center;
	}
	.widget > div.clearfix > div:first-child {
		border-right:1px solid #e5e5e5;
		font-weight:700;
		width:124px;
		float:left;
		text-align:center;
	}
	.widget > div.clearfix > div:first-child, .widget > div.clearfix > div:nth-child(2) {
		border-bottom:1px solid #e5e5e5;
		padding:5px 0;
	}
	.widget > div.clearfix > div:first-child > img {
		margin-right:5px;
		position:relative;
		top:-1px;
	}
	.fb-like{
		float:right;
		text-align:left;
		padding:5px 5px;
	}


/**************************************
MENUBAR
**************************************/
#menumain {
	/*height:60px;*/
	width:1023px;
	margin:auto;
}



/**************************************
SLIDER
**************************************/
#slider {
	height:auto;
	width:1023px;
	margin:auto;
}



/**************************************
CONTENTS
**************************************/

.content-inside {
	width:1023px;
	margin:auto;
}

.executive-content1 {
	float:right;
	background:#066;
	margin-top:-50px;
}


.footertopback {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzZDNkMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(211,211,211,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,211,211,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(211,211,211,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(211,211,211,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(211,211,211,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(211,211,211,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */

 height:60px;
 width:100%;
 margin:auto;
 /*background:#071a3a;*/
 margin-top:40px;
 margin-bottom:40px;
 clear:both;

}


/**************************************
BOXES CONTENT
**************************************/
#box1 {
	height:300px;
	margin-bottom:10px;
	margin-top:5px;
	outline:solid 1px #999;
	position:relative;
}


#box2 {
	height:300px;
	margin-top:5px;
	margin-bottom:10px;
	outline:solid 1px #999;
	position:relative;
}


#box3 {
	height:300px;
	margin-top:5px;
	margin-bottom:10px;
	outline:solid 1px #999;
	position:relative;
}

#box4 {
	height:300px;
	margin-top:5px;
	margin-bottom:10px;
	outline:solid 1px #999;
	position:relative;
}

#box5 {
	height:300px;
	margin-top:5px;
	margin-bottom:10px;
	outline:solid 1px #999;
	position:relative;
}


/*Inside thumbnails*/
.titlebox {
	display:block;
	padding-left:4%;
	width:75%;
	height:36px;
	float:left;
	margin-top:3%;
	font-family: 'Klavika', Arial, sans-serif;
	text-transform:uppercase;

		font-size:15px;
		font-weight:300;
		letter-spacing:0.02em;
		color:#393939;
		/*margin:0;*/
		padding:0;
		line-height:16px;

}

.arrow {
	width:21%;
	background:url(../images/arow-blue.png) center no-repeat;
	height:35px;
	float:left;
}

.arrow:hover {
	background:url(../images/arow-blueover.png) center no-repeat;
}

.listitems {
	margin:0;
	padding:0;
}

.listitems li {
	list-style:none;
	line-height:130%;
	margin-left:4%;
	font-size:100%;
	font-family:'Lato', Arial, sans-serif;
}

.viewmore  {
	width:96.330275% ; /*210 / 218 = * 100 = 96.330275% */
	display:block;
	margin:auto;
	position:absolute;
	bottom: 1.666666%; /* 5 /300 * 100 =  1.666666% */
	right:1.666666%; /*5 / 300 * 100 = 1.666666% */
	text-align:right;
	padding-right:1%;
	margin-bottom:1%;
	z-index:10;
	font-size:0.9375em; /* 15 /16 = 0.9375em */
}

.viewmore a {
	color:#003b63;
	text-decoration:underline;
}

.viewmore a:hover {
	color:#09F;
}
/**************************************
FINDING JOB
**************************************/
#findingjobs {
	height:auto;
	outline:solid 1px #999;
	margin-bottom:10px;
}

.find {
}

.magni-icon {
	width:56px;
	height:38px;
	float:left;
	margin-left:2%;
	margin-top:1%;
}


.findingtexthead {
	display:block;
	width:90%; /*750 /950 = *100 = 78.947368%  */
	padding-top:2%;
	height:36px;
	margin-left:2%;
	margin-top:1%;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.5625em; /*25 / 16 = 1.5625em */
	font-weight:bold;
}


.targetjob-img {
	clear:both;
	max-width:297px;
	height:205px;
	margin-top:4%;
}

.targetjob-img {
	clear:both;
	max-width:297px;
	height:205px;
}

.job-img {
	max-height:205px;
	width:100%;
	text-align:center;
	margin-top:10%;
	float:left;
}

.searchjob {
	width:100%;
	text-align:center;
	position:relative;
	z-index:2;
}

.search-btn {
	width:100%;
	text-align:center;
	position:relative;
	z-index:2;
	margin-top:3%;
	max-width:100%;
	}

.click {
	border:none;
	background:url(../images/bluebutton.png) center  no-repeat;
	display:block;
	width:100%;
	padding:1%;
	height:32px;
	color:#FFF;

}

.click:hover {
	background:url(../images/bluebutton-over.png) center no-repeat;
}

/**************************************
TOP CATEGORY
**************************************/
#tops {
	height:auto;
	background:#CCC;
	margin-bottom:10px;
}


.top-div ol {
	margin:0;
	padding-left:4%;
	padding-bottom:4%;

}

.top-div li  {
	line-height:160%;

}

.top-div a {
	text-decoration:none;
	color:#333;
}

.top-div a:hover {
	color:#999;
}

.top-title {
	list-style:none;
	display:block;
	width:100%;
	max-height:20px;
	max-width:250px;
	margin-bottom:2%;
	padding-bottom:5%;
	font-family:Arial, Helvetica, sans-serif;
}


.top-content {
	margin-left:16%;
	font-size:1em;
}


/**************************************
FOOTER LINKS
**************************************/
#aboutus {
	height:auto;
}

.title-links {
	display:block;
	width:100%;
	height:25px;
	border-bottom:1px solid #999;
	font-size:1.125em;
	line-height:280%;
	padding-bottom:6%;
	font-family:Tahoma, Geneva, sans-serif;
}


.footer-contentlist {
	padding:0;
	margin:0;
}

.footer-contentlist a {
	color:#333;
	font-size:1em;
	font-family:Arial, Helvetica, sans-serif;
}

.footer-contentlist a:hover {
	color:#666;
}


.footer-contentlist li {
	list-style:none;
	line-height:180%;

}

#services {
	height:auto;
}

#jobs {
	height:auto;
}

#contactus {
	height:auto;
}

/**************************************
FLAG COUNTER
**************************************/
#flagcounter {
	height: 253px;
	width: 200px;
	max-width: 25px;
	bottom:160px;
	position:fixed;
	right:0;
	-webkit-transition: all .9s ease;
	-moz-transition: all .9s ease;
	-ms-transition: all .9s ease;
	-o-transition: all .9s ease;
	transition: all .9s ease;
}
	#flagcounter:hover {
	max-width: 999px;
}

.imgclick {
	height:100px;
	width:25px;
	float:left;
}

.flag {
	float:left;
	width:150px;
	height:100%;
}
/**************************************
FOOTER
**************************************/
#footer {
	background:#666;
	height:auto;
	width:100%;
}

.footecopyright {
	/*max-width:950px;*/
	max-width:1023px;
	margin:auto;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
}


.footecopyright a {
	color:#fff;
	text-decoration:none;
}

.footecopyright a:hover {
	color:#CCC;
}

