img.button{
	width:68px;
	height:27px; 
	cursor:pointer;
	margin-top:5px;
	margin-bottom:5px;
}
img.button:hover{
	cursor:pointer;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

#cboxLoadedContentform label {
	font-size:14px; 
}

#cboxLoadedContent form input[type=text], form input[type=password], select, textarea{
	width:98%;
	margin-bottom:10px;
}
 
.error_message {
	font-size: 12px;
	color:#f00;
}

img.loading { 
	height:16px;
	width:16px; 
}

.horizontal_border {
	height:20px;
	background-color:#000066;
	margin-top:3px;
	margin-bottom:3px;
}