/* ------------------------
 * Default Stylesheet
 * ------------------------ */
 
/* - - - - - - F O N T S - - - - - -  */

/* --- Quicksand --- */
 @font-face {
    font-family: "Quicksand";
    src: url('../fonts/quicksand_book-webfont.eot');
    src: url('../fonts/quicksand_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand_book-webfont.woff') format('woff'),
         url('../fonts/quicksand_book-webfont.ttf') format('truetype'),
         url('../fonts/quicksand_book-webfont.svg#quicksand_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* --- Source Sans Pro --- */
/* Regular */
@font-face {
    font-family: "SourceSansPro";
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Semibold */
@font-face {
    font-family: "SourceSansPro";
    src: url('../fonts/sourcesanspro-semibold-webfont.eot');
    src: url('../fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-semibold-webfont.svg#source_sans_pro_semiboldRg') format('svg');
    font-weight: 300;
    font-style: normal;
}
/* Bold */
@font-face {
    font-family: "SourceSansPro";
    src: url('../fonts/sourcesanspro-bold-webfont.eot');
    src: url('../fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* - - - - - - G E N E R A L  S T Y L E S - - - - - -  */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background:#fff;
	color:#817272;
	font-family:"SourceSansPro", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	line-height:normal;
}
#wrapper-outer {
	border-top:11px solid #d20000;
	width:100%;
}
#wrapper-inner {
	margin:0 auto;
	width:860px;
}
#header {
	border-bottom:1px solid #dedcdc;
	overflow:hidden;
	padding:20px 0 0;
}
#header .logo {
	background:url(../images/sprites.png) no-repeat;
	color:transparent;
	display:block;
	height:55px;
	margin:0 0 10px;
}
#header .logo.symphinite {
	background-position:0 0;
	float:left;
	width:145px;
}
#header .logo.rms {
	background-position:0 -60px;
	float:right;
	width:140px;
}
#content {
	margin:0 0 20px;
}
#footer {
	font-family:"Quicksand", Arial, Helvetica, sans-serif;
	font-weight:normal;
	padding:0 0 20px;
}
#footer .copyright {
	display:block;
	text-align:center;
}

/* - - - - - - T Y P O G R A P H Y - - - - - -  */
h1 {
}
h2 {
}
p {
	margin:0 0 20px;
}

/* - - - - - - B U T T O N S - - - - - -  */
.btn-red {
	background: #db3333;
	background: -moz-linear-gradient(top,  #db3333 0%, #db3333 50%, #d20000 50%, #d20000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db3333), color-stop(50%,#db3333), color-stop(50%,#d20000), color-stop(100%,#d20000));
	background: -webkit-linear-gradient(top,  #db3333 0%,#db3333 50%,#d20000 50%,#d20000 100%);
	background: -o-linear-gradient(top,  #db3333 0%,#db3333 50%,#d20000 50%,#d20000 100%);
	background: -ms-linear-gradient(top,  #db3333 0%,#db3333 50%,#d20000 50%,#d20000 100%);
	background: linear-gradient(to bottom,  #db3333 0%,#db3333 50%,#d20000 50%,#d20000 100%);
	border:none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	padding:4px 10px;
	text-decoration:none;
	text-transform:uppercase;
}
.btn-red:hover {
	background: #d20000;
}

/* - - - - - - I N D E X  P A G E - - - - - -  */
#block-login {
	background:url(../images/img-banner.png) no-repeat left center;
	min-height:265px;
	padding:35px 0 3px 420px;
}
#block-login h1 {
	border-bottom:2px solid #cc5656;
	color:#cc5656;
	display:block;
	font-size:20px;
	line-height:normal;
	margin:0 0 20px;
	padding:0 0 5px;
}
#block-login p {
	color:#cc5656;
	font-size:13px;
	font-weight:bold;
}
#block-login .left-panel,
#block-login .right-panel {
	display:inline-block;
	vertical-align:top;
}
#block-login .left-panel {
	width:235px;
}
#block-login .left-panel .form-actions .btn-clear {
	float:right;
}
#block-login .right-panel {
	margin-left:20px;
	padding:15px 0 0;
	width:175px;
}
#form-login {
	margin:0 0 5px;
	padding:0;
}
#form-login label {
	color:#cc5656;
	display:block;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
}
#form-login input[type="text"],
#form-login input[type="password"] {
	border:1px solid #d4d4d4;
	color:#817272;
	display:block;
	padding:5px 8px;
	width:100%;
}
#block-login .right-panel a,
#block-login .right-panel span {
	background:url(../images/sprites.png) no-repeat;
	color:#818181;
	display:inline-block;
	margin:0 0 10px;
	padding:10px 0 10px 30px;
}
#block-login .right-panel .btn-forgotpw {
	background-position:10px -360px;
}
#block-login .right-panel .contact-info {
	background-position:10px -390px;
	border-top:1px dotted #818181;
	text-decoration:underline;
}
#block-login .right-panel .btn-forgotpw:hover,
#block-login .right-panel .contact-info:hover {
	text-decoration:none;
}
#services-panel {
	background:#f4f3f3;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding:16px 0;
	position:relative;
}
#services-panel:after {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%, rgba(96,96,96,1) 30%, rgba(255,255,255,0) 80%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,1)), color-stop(30%,rgba(96,96,96,1)), color-stop(80%,rgba(255,255,255,0)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(96,96,96,1) 30%,rgba(255,255,255,0) 80%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(96,96,96,1) 30%,rgba(255,255,255,0) 80%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(96,96,96,1) 30%,rgba(255,255,255,0) 80%);
	background: radial-gradient(ellipse at center,  rgba(0,0,0,1) 0%,rgba(96,96,96,1) 30%,rgba(255,255,255,0) 80%);
	bottom:-10px;
	content:"";
	display:block;
	height:80px;
	position:absolute;
	width:860px;
	z-index:-100;
}
#services-panel .panel {
	border-right:1px solid #e9e7e7;
	display:inline-block;
	min-height:145px;
	padding:0 16px;
	vertical-align:top;
	width:210px;
}
#services-panel .panel:last-child {
	border:none;
}
#services-panel .panel h2 {
	background:url(../images/sprites.png) no-repeat;
	border-bottom:2px solid #808080;
	color:#a50000;
	display:block;
	font-size:14px;
	line-height:normal;
	margin:0 0 5px;
	padding:10px 0 15px 60px;
	text-transform:uppercase;
}
#services-panel .panel.users-management h2 {
	background-position:-10px -125px;
}
#services-panel .panel.job-posting-management h2 {
	background-position:0 -184px;
}
#services-panel .panel.recruitment-process-management h2 {
	background-position:0 -242px;
	padding:0 0 9px 65px;
}
#services-panel .panel.jobseeker-employee-management h2 {
	background-position:0 -305px;
	padding:0 0 9px 70px;
}

/* - - - - - - H O M E  P A G E - - - - - -  */
#block-account-activity,
#block-management-tools,
#block-account-settings {
	display:inline-block;
	padding:20px 0 0;
	vertical-align:top;
}
#block-account-activity {
	margin-right:20px;
	width:210px;
}
#block-account-activity .welcome-user,
#block-account-activity .last-activity {
	margin:0 0 40px;
}
#block-account-activity .welcome-user span,
#block-account-activity .last-activity span {
	display:block;
	font-size:14px;
}
#block-account-activity .welcome-user .username,
#block-account-activity .last-activity .timestamp {
	color:#a50000;
	font-weight:bold;
}
#block-management-tools {
	margin-right:20px;
	width:440px;
}
#block-management-tools .nav {
	border-bottom:2px dotted #818181;
	margin:0 0 20px;
	padding:0 0 10px;
}
#block-management-tools .nav .btn-logout {
	float:right;
}
#block-management-tools .tools-pane {
	list-style:none;
	margin:0 0 20px;
	padding:0;
}
#block-management-tools .tools-pane li {
	display:inline-block;
	margin:0 5px 5px 0;
	padding:0;
	vertical-align:top;
	width:140px;
}
#block-management-tools .tools-pane li:nth-child(3n+0) {
	margin-right:0;
}
#block-management-tools .tools-pane li .btn-tool {
	background:#F4F3F3;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:block;
	min-height:100px;
	padding:5px;
	text-decoration:none;
}
#block-management-tools .tools-pane li .btn-tool span {
	color:#817272;
	display:block;
	font-size:13px;
}
#block-management-tools .tools-pane li .btn-tool .title {
	color:#a50000;
	font-size:14px;
	font-weight:bold;
	margin:0 0 5px;
}
#block-management-tools .tools-pane li .btn-tool:hover {
	background:#a50000;
}
#block-management-tools .tools-pane li .btn-tool:hover span {
	color:#f88;
}
#block-management-tools .tools-pane li .btn-tool:hover .title {
	color:#fff;
}
#block-account-settings {
	width:160px;
}
#block-account-settings #form-quick-link {
	margin:0 0 20px;
	padding:0;
}
#block-account-settings #form-quick-link h1 {
	border-bottom:2px solid #cc5656;
	color:#cc5656;
	display:block;
	font-size:14px;
	line-height:normal;
	margin:0 0 10px;
	padding:0 0 5px;
	text-transform:uppercase;
}
#block-account-settings .account-management {
	list-style:none;
	margin:0 0 20px;
	padding:0;
}
#block-account-settings .account-management li {
	border-bottom:2px dotted #818181;
	margin:0;
	padding:0;
}
#block-account-settings .account-management li:last-child {
	border:none;
}
#block-account-settings .account-management li a {
	background:url(../images/sprites.png) no-repeat;
	color:#818181;
	display:inline-block;
	margin:10px 0;
	padding:10px 0 10px 30px;
	text-decoration:underline;
}
#block-account-settings .account-management li a:hover {
	text-decoration:none;
}
#block-account-settings .account-management li .btn-changepw {
	background-position:10px -360px;
}
#block-account-settings .account-management li .btn-update-profile {
	background-position:10px -420px;
}