body { 
	margin:0px;
	height:100%;
	font-family:Calibri; 
}

.welcome_top {
	height: 150px;
	background-color:#B00; 
}

.welcome_top_label {
	background-color:#686868;
	height:50px;
	position:relative;
	top:50px;
	text-align:right;
	color:#fff; 
	font-size:40px;
	padding-right:20px;
	font-family:"Monotype Corsiva";
}

.welcome_bottom { 
	background-color:#686868; 
	position: fixed;
    bottom:0px;
	height:150px;
	width:100%;
    clear:both;
}

#welcome_form_box {
	width: 25%;
	padding:20px;
	text-align: left;  
	box-shadow: 1px 3px 15px 1px #888888;
}

#welcome_form_box input[type=text], #welcome_form_box input[type=password]{
	width:98%;
}

img.button{
	width:68px;
	height:27px; 
}
img.button:hover{
	cursor:pointer;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

#error_msg {
	color:#f00;
	font-size:12px;
}